:root {
  --primary: #56E8FF;
  --color-pink: #f14dc8;
  --color-frontend: #5d4fd4;
  --color-frontend-light: #aba2ff;
  --black: #000000;
  --color-tag-title: #8c78fa;
  --blackLighter: #9E9E9E;
  --grayLight: #F5F5F5;
  --grayMedium: #e5e5e5; 
  --white: #FFFFFF;
  --background: #1b1b1b;
  --green: #05ffa1;
  --purple: #b967ff;
}